.statistic
  width: 100%
  margin: 0 auto 1em

.google-chart img
  width: 680px
  height: 200px

#user-locations-map
  width: 680px
  height: 400px
  text-align: center
  margin: 0 auto 1.5em

#user-location-list
  display: none

#user-origins-list li
  line-height: 1.5em
  list-style: none
  margin: 0
  padding: 0

#user-origins h4
  margin: 0.5em 0
