form.formtastic
  > fieldset.inputs
    margin: 0 0 1em
    padding: 1em 0 0
    ol li.preview-email-section
      margin-top: -1em
      margin-bottom: 2em
    > legend
      font-size: 1.2em
      font-weight: bold
    label
      font-weight: bold
      color: #444444
      abbr.required
        color: #992025
    ol li ol li label
      font-weight: normal
      color: #111111
  fieldset.buttons
    ol li
      button
        +fancy-button(#196e27, 16px)
  span.cke_skin_kama
    margin-left: 28%
  p.actions
    background: #eeeeee
    border: 0.1em solid #cccccc
    padding: 0.5em
    margin: -1em 0 1em
    
.resource-base-errors
  font-size: 1.1em
  margin: 0.5em 0 1em
  p
    color: #712B22
    font-weight: bold
    margin-bottom: 0
  ul
    color: #993C39
    line-height: 1.5em
    margin: 0
    padding: 0
    li
      margin: 0
      padding: 0
      list-style: inside