#content
  table
    :width 100%
    :border-left 0.1em solid #999
    :border-right 0.1em solid #999
    thead
      tr th
        :border-top 0.1em solid #999
        :border-bottom 0.1em solid #999
        :font-weight bold
        :padding 0.5em 0.4em
        :font-weight bold
        :color #FFF
        :background #555
        +linear-gradient(color_stops(#555, #777), "bottom")
        +sans-font-stack
    tbody
      tr.empty
        :background #EEE
        :color #333
        td
          :padding 1em
          :text-align center
      tr.odd
        :background #F9F9F9
      tr.even
        :background #F0F0F0
      td
        :border-bottom 0.1em solid #999
        :padding 0.4em
      td.actions
        :text-align right
        ul
          +inline-list
          li
            :margin 0 0.5em
          a
            +hover-link
            +link-colors(#2E5499, #993A3F)
            :font-weight bold
      span.default-value
        :color #666
  
  dl
    :font-size 1.2em
    :width 100%
    +clearfix
    :border-bottom 0.1em solid #999
    dt
      :font-weight bold
      :margin 0
      :padding 5px 10px
      :clear left
      :width 24%
      :float left
      :border-top 0.1em solid #999
      :width 150px
      :text-align right
    dd
      :border-top 0.1em solid #999
      :width 550px
      :margin 0
      :padding 5px 10px
      :float left
      
      ul
        :margin 0
        li
          :list-style inside
          :margin 0
          :padding 0
        li.empty
          :list-style none
          :margin 0
          :color #666
        