#mission-dashboard

  #mission-statistics
    +clearfix
    padding: 0.5em 0 2em
    .mission-statistic
      text-align: center
      float: left
      width: 185px
      span.count, span.description
        display: block
      span.count
        font-weight: bold
        color: black
        font-size: 3em
      span.description
        color: #555
        font-size: 1.25em
  .collection-columns
    +clearfix
    .collection
      float: left
      width: 360px
      h4
        margin-bottom: 0
      &.left
        margin-right: 10px
      &.right
        margin-left: 10px