.bundle
db/*.sqlite3
log/*.log
tmp/**/*
config/settings.yml
.bundle-cache
doc/app
.yardoc
.sass-cache
tmp/restart.txt
tmp/*.sql
public/stylesheets/*.css
config/newrelic.yml
public/javascripts/bhm
public/javascripts/vendor/bhm-google-maps
public/javascripts/vendor/shuriken
public/assets/
.rvmrc
.gemset
