%h2.title Dashboard

#user-signups.google-chart
  %h3 User Signups By Date
  = image_tag user_stats_url, :title => "User signups by date", :id => 'user-signup-stats'

- content_for :sidebar do
  
  %h2 Menu
  - sidebar_menu do
    = render :partial => 'admin/shared/sections'