/* incase an inverted custom gradient isn't specified */

/* line 6, ../../.bundle-cache/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../.bundle-cache/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
*:focus {
  outline: 0;
}

/* line 20, ../../.bundle-cache/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
body {
  line-height: 1;
  color: #000;
  background: #fff;
}

/* line 23, ../../.bundle-cache/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
ol, ul {
  list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
/* line 27, ../../.bundle-cache/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 30, ../../.bundle-cache/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 33, ../../.bundle-cache/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
q, blockquote {
  quotes: "" "";
}
/* line 101, ../../.bundle-cache/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 36, ../../.bundle-cache/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
a img {
  border: none;
}

/* line 4, ../../.bundle-cache/gems/compass-960-plugin-0.9.11/sass/960/_text.sass */
body {
  font: 13px/1.5 Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
}

/* line 7, ../../.bundle-cache/gems/compass-960-plugin-0.9.11/sass/960/_text.sass */
a:focus {
  outline: 1px dotted invert;
}

/* line 10, ../../.bundle-cache/gems/compass-960-plugin-0.9.11/sass/960/_text.sass */
hr {
  border-color: #ccc;
  border-style: solid;
  border-width: 1px 0 0;
  clear: both;
  height: 0;
}

/* line 17, ../../.bundle-cache/gems/compass-960-plugin-0.9.11/sass/960/_text.sass */
h1 {
  font-size: 25px;
}

/* line 20, ../../.bundle-cache/gems/compass-960-plugin-0.9.11/sass/960/_text.sass */
h2 {
  font-size: 23px;
}

/* line 23, ../../.bundle-cache/gems/compass-960-plugin-0.9.11/sass/960/_text.sass */
h3 {
  font-size: 21px;
}

/* line 26, ../../.bundle-cache/gems/compass-960-plugin-0.9.11/sass/960/_text.sass */
h4 {
  font-size: 19px;
}

/* line 29, ../../.bundle-cache/gems/compass-960-plugin-0.9.11/sass/960/_text.sass */
h5 {
  font-size: 17px;
}

/* line 32, ../../.bundle-cache/gems/compass-960-plugin-0.9.11/sass/960/_text.sass */
h6 {
  font-size: 15px;
}

/* line 35, ../../.bundle-cache/gems/compass-960-plugin-0.9.11/sass/960/_text.sass */
ol {
  list-style: decimal;
}

/* line 38, ../../.bundle-cache/gems/compass-960-plugin-0.9.11/sass/960/_text.sass */
ul {
  list-style: square;
}

/* line 41, ../../.bundle-cache/gems/compass-960-plugin-0.9.11/sass/960/_text.sass */
li {
  margin-left: 30px;
}

/* line 44, ../../.bundle-cache/gems/compass-960-plugin-0.9.11/sass/960/_text.sass */
p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset {
  margin-bottom: 20px;
}

@font-face {
  font-family: 'Sniglet Regular';
  src: url('/fonts/Sniglet.eot');
  src: local('Sniglet Regular'), local('Sniglet'), url(/fonts/Sniglet.ttf) format('truetype');
}

@font-face {
  font-family: 'Museo Sans';
  src: url('/fonts/MuseoSans.eot');
  src: local('Museo Sans'), local('MuseoSans-500'), url(/fonts/MuseoSans.woff) format('woff'), url(/fonts/MuseoSans.ttf) format('truetype');
}

@font-face {
  font-family: 'Bauhaus Std Demi';
  src: url('/fonts/BauhausStd-Demi.eot');
  src: local('Bauhaus Std Demi'), local('BauhausStd-Demi'), url(/fonts/BauhausStd-Demi.woff) format('woff'), url(/fonts/BauhausStd-Demi.ttf) format('truetype');
}

/* line 7, ../../app/stylesheets/bhm/_flash.sass */
#flash-messages {
  margin: 0;
}
/* line 9, ../../app/stylesheets/bhm/_flash.sass */
#flash-messages p.flash {
  margin: 0 0 1em;
  padding: 0.5em;
  font-weight: bold;
  text-align: center;
  border: 0.2em solid;
  border-color: #777777;
  background-color: #c3c3c3;
  color: #444444;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #dcdcdc), color-stop(100%, #aaaaaa));
  background-image: -moz-linear-gradient(top, #dcdcdc 0%, #aaaaaa 100%);
}
/* line 16, ../../app/stylesheets/bhm/_flash.sass */
#flash-messages p.flash.alert {
  border-color: #d54e55;
  background-color: #f2cacc;
  color: #99242a;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #fcf3f3), color-stop(100%, #e8a1a5));
  background-image: -moz-linear-gradient(top, #fcf3f3 0%, #e8a1a5 100%);
}
/* line 18, ../../app/stylesheets/bhm/_flash.sass */
#flash-messages p.flash.notice {
  border-color: #35ae41;
  background-color: #9be1a2;
  color: #1d6024;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #c2edc6), color-stop(100%, #74d57e));
  background-image: -moz-linear-gradient(top, #c2edc6 0%, #74d57e 100%);
}

/* line 1, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic {
  margin: 0;
  padding: 0;
}
/* line 5, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic ul, form.formtastic ol, form.formtastic li, form.formtastic fieldset, form.formtastic legend, form.formtastic input, form.formtastic textarea, form.formtastic select, form.formtastic p {
  margin: 0;
  padding: 0;
}
/* line 9, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic fieldset {
  border: 0;
}
/* line 12, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic em, form.formtastic strong {
  font-style: normal;
  font-weight: normal;
}
/* line 16, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic ol, form.formtastic ul {
  list-style: none;
}
/* line 19, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic abbr, form.formtastic acronym {
  border: 0;
  font-variant: normal;
}
/* line 23, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic input, form.formtastic textarea, form.formtastic select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
/* line 28, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic input, form.formtastic textarea, form.formtastic select {
  font-size: 100%;
}
/* line 31, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic legend {
  color: #000;
}
/* line 34, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic legend.label label {
  width: 100%;
}
/* line 37, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic fieldset {
  display: inline-block;
}
/* line 40, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic fieldset.buttons {
  padding-left: 28%;
}
/* line 43, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic fieldset.buttons li {
  float: left;
  padding-right: 0.5em;
}
/* line 47, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic fieldset:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 55, ../../app/stylesheets/bhm/_formtastic_base.sass */
html form.formtastic fieldset {
  display: block;
}

/* line 59, ../../app/stylesheets/bhm/_formtastic_base.sass */
* html form.formtastic fieldset {
  height: 1%;
}

/* line 63, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic fieldset ol li {
  margin-bottom: 1.5em;
}
/* line 66, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic fieldset ol li:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 74, ../../app/stylesheets/bhm/_formtastic_base.sass */
html[xmlns] form.formtastic fieldset ol li {
  display: block;
}

/* line 78, ../../app/stylesheets/bhm/_formtastic_base.sass */
* html form.formtastic fieldset ol li {
  height: 1%;
}

/* line 83, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic fieldset ol li label {
  display: block;
  width: 25%;
  margin-right: 3%;
  float: left;
  padding-top: .2em;
}
/* line 90, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic fieldset ol li li label {
  line-height: 100%;
  padding-top: 0;
  width: auto;
  margin-right: 0;
}
/* line 96, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic fieldset ol li li label input {
  line-height: 100%;
  vertical-align: middle;
  margin-top: -0.1em;
}
/* line 101, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic fieldset ol li fieldset {
  position: relative;
}
/* line 104, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic fieldset ol li fieldset legend {
  position: absolute;
  width: 28%;
  padding-top: 0.1em;
}
/* line 109, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic fieldset ol li fieldset legend span, form.formtastic fieldset ol li fieldset legend.label label {
  position: absolute;
}
/* line 112, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic fieldset ol li fieldset ol {
  float: left;
  width: 71%;
  margin: 0;
  padding: 0 0 0 28%;
}
/* line 118, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic fieldset ol li fieldset ol li {
  padding: 0;
  border: 0;
}
/* line 123, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic fieldset ol li p.inline-hints {
  color: #666;
  margin: 0.5em 0 0 28%;
}
/* line 127, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic fieldset ol li p.inline-errors {
  color: #cc0000;
  margin: 0.5em 0 0 28%;
}
/* line 131, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic fieldset ol li ul.errors {
  color: #cc0000;
  margin: 0.5em 0 0 28%;
  list-style: square;
}
/* line 136, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic fieldset ol li ul.errors li {
  padding: 0;
  border: none;
  display: list-item;
}
/* line 141, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic fieldset ol li.string input, form.formtastic fieldset ol li.password input, form.formtastic fieldset ol li.numeric input, form.formtastic fieldset ol li.text textarea {
  width: 71%;
}
/* line 144, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic fieldset ol li.hidden {
  display: none;
}
/* line 147, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic fieldset ol li.boolean label {
  padding-left: 28%;
  width: auto;
}
/* line 151, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic fieldset ol li.boolean label input {
  margin: 0 0.5em 0 0.2em;
}
/* line 154, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic fieldset ol li.radio fieldset ol, form.formtastic fieldset ol li.check_boxes fieldset ol {
  margin-bottom: -0.6em;
}
/* line 157, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic fieldset ol li.radio fieldset ol li, form.formtastic fieldset ol li.check_boxes fieldset ol li {
  margin: 0.1em 0 0.5em 0;
}
/* line 160, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic fieldset ol li.radio fieldset ol li label, form.formtastic fieldset ol li.check_boxes fieldset ol li label {
  float: none;
  width: 100%;
}
/* line 164, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic fieldset ol li.radio fieldset ol li label input, form.formtastic fieldset ol li.check_boxes fieldset ol li label input {
  margin-right: 0.2em;
}
/* line 167, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic fieldset ol li.date fieldset ol li, form.formtastic fieldset ol li.time fieldset ol li, form.formtastic fieldset ol li.datetime fieldset ol li {
  float: left;
  width: auto;
  margin: 0 .3em 0 0;
}
/* line 172, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic fieldset ol li.date fieldset ol li label, form.formtastic fieldset ol li.time fieldset ol li label, form.formtastic fieldset ol li.datetime fieldset ol li label {
  display: none;
}
/* line 175, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic fieldset ol li.date fieldset ol li label input, form.formtastic fieldset ol li.time fieldset ol li label input, form.formtastic fieldset ol li.datetime fieldset ol li label input {
  display: inline;
  margin: 0;
  padding: 0;
}

/* line 2, ../../app/stylesheets/bhm/admin/_grid.sass */
#container {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
/* line 5, ../../app/stylesheets/bhm/admin/_grid.sass */
#container #header-logo, #container #header-menu, #container footer, #container #content, #container #sidebar, #container #flash-messages {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

/* line 8, ../../app/stylesheets/bhm/admin/_grid.sass */
#header-logo {
  width: 180px;
}

/* line 10, ../../app/stylesheets/bhm/admin/_grid.sass */
#header-menu {
  width: 740px;
}

/* line 13, ../../app/stylesheets/bhm/admin/_grid.sass */
#content {
  width: 740px;
}

/* line 16, ../../app/stylesheets/bhm/admin/_grid.sass */
#sidebar {
  width: 180px;
}

/* line 19, ../../app/stylesheets/bhm/admin/_grid.sass */
footer, #flash-messages {
  width: 940px;
}

/* line 1, ../../app/stylesheets/bhm/admin/_general.sass */
h1, h2, h3, h4, h5, h6 {
  font-family: "Museo Sans", "Helvetica Neue", "Helvetica", "Verdana", "Arial";
}

/* line 4, ../../app/stylesheets/bhm/admin/_general.sass */
h2 {
  margin: 0 0 0.5em;
}

/* line 7, ../../app/stylesheets/bhm/admin/_general.sass */
.google-chart {
  border: 0.1em solid #DDD;
  background: #F9F9F9;
  text-align: center;
  border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
}
/* line 13, ../../app/stylesheets/bhm/admin/_general.sass */
.google-chart h3 {
  font-family: , "Helvetica Neue", "Helvetica", "Verdana", "Arial";
  font-weight: bold;
  margin: 0.5em 0 0;
}
/* line 18, ../../app/stylesheets/bhm/admin/_general.sass */
.google-chart img {
  margin: 0.5em auto 1em;
}

/* line 1, ../../app/stylesheets/bhm/admin/_header.sass */
header {
  background: #333;
  margin: 0 0 1.5em 0;
  border-bottom-left-radius: 0.5em;
  -moz-border-radius-bottomleft: 0.5em;
  -webkit-border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  -moz-border-radius-bottomright: 0.5em;
  -webkit-border-bottom-right-radius: 0.5em;
  /* Webkit (Safari, Chrome) */
  -webkit-box-shadow: #777777 0 0 0.25em;
  /* Gecko (Firefox, Camino) */
  -moz-box-shadow: #777777 0 0 0.25em;
  /* CSS3 */
  box-shadow: #777777 0 0 0.25em;
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0%, #333333), color-stop(100%, #555555));
  background-image: -moz-linear-gradient(bottom, #333333 0%, #555555 100%);
  overflow: hidden;
  display: inline-block;
}
/* line 5, ../../.bundle-cache/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
header {
  display: block;
}

/* line 11, ../../app/stylesheets/bhm/admin/_header.sass */
#header-logo h1 {
  font-weight: bold;
  color: white;
  font-size: 1.4em;
  margin: 0.5em 0;
}

/* line 17, ../../app/stylesheets/bhm/admin/_header.sass */
#header-menu {
  text-align: right;
}

/* line 20, ../../app/stylesheets/bhm/admin/_header.sass */
#header-menu ul {
  padding: 0;
  margin: 0.8em 1.5em 0 0;
}
/* line 24, ../../app/stylesheets/bhm/admin/_header.sass */
#header-menu ul li {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: inline;
  margin: 0 0 0 1.5em;
}
/* line 8, ../../.bundle-cache/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/lists/_inline_list.sass */
#header-menu ul li li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
/* line 27, ../../app/stylesheets/bhm/admin/_header.sass */
#header-menu ul li a {
  vertical-align: middle;
  font-size: 1.25em;
  font-family: "Museo Sans", "Helvetica Neue", "Helvetica", "Verdana", "Arial";
  color: white;
  text-decoration: none;
}
/* line 18, ../../.bundle-cache/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
#header-menu ul li a:hover {
  color: #ee6673;
}
/* line 4, ../../.bundle-cache/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/links/_hover_link.sass */
#header-menu ul li a:hover {
  text-decoration: underline;
}
/* line 34, ../../app/stylesheets/bhm/admin/_header.sass */
#header-menu ul li a#view-site-link {
  font-size: 1em;
  color: #CCC;
}

/* line 8, ../../.bundle-cache/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/lists/_bullets.sass */
section#sidebar ul.sidebar-menu li {
  list-style-type: none;
  margin-left: 0px;
}
/* line 6, ../../app/stylesheets/bhm/admin/_sidebar.sass */
section#sidebar ul.sidebar-menu li a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  font-size: 1em;
  font-weight: bold;
  display: block;
  padding: 0.3em 0.5em;
  margin: 0 0 0.5em;
  border: 0.2em solid #CCC;
  text-align: center;
  color: #222;
  background: #DFDFDF;
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0%, #dddddd), color-stop(100%, #eeeeee));
  background-image: -moz-linear-gradient(bottom, #dddddd 0%, #eeeeee 100%);
  border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
}
/* line 6, ../../.bundle-cache/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/links/_unstyled_link.sass */
section#sidebar ul.sidebar-menu li a:active, section#sidebar ul.sidebar-menu li a:focus {
  outline: none;
}
/* line 19, ../../app/stylesheets/bhm/admin/_sidebar.sass */
section#sidebar ul.sidebar-menu li a:hover, section#sidebar ul.sidebar-menu li a:active {
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0%, #333333), color-stop(100%, #555555));
  background-image: -moz-linear-gradient(bottom, #333333 0%, #555555 100%);
  color: #FFF;
  border-color: #111;
}
/* line 25, ../../app/stylesheets/bhm/admin/_sidebar.sass */
section#sidebar h2 {
  text-align: center;
}

/* line 2, ../../app/stylesheets/bhm/admin/_listing.sass */
#content table {
  width: 100%;
  border-left: 0.1em solid #999;
  border-right: 0.1em solid #999;
}
/* line 7, ../../app/stylesheets/bhm/admin/_listing.sass */
#content table thead tr th {
  border-top: 0.1em solid #999;
  border-bottom: 0.1em solid #999;
  font-weight: bold;
  padding: 0.5em 0.4em;
  font-weight: bold;
  color: #FFF;
  background: #555;
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0%, #555555), color-stop(100%, #777777));
  background-image: -moz-linear-gradient(bottom, #555555 0%, #777777 100%);
  font-family: , "Helvetica Neue", "Helvetica", "Verdana", "Arial";
}
/* line 18, ../../app/stylesheets/bhm/admin/_listing.sass */
#content table tbody tr.empty {
  background: #EEE;
  color: #333;
}
/* line 21, ../../app/stylesheets/bhm/admin/_listing.sass */
#content table tbody tr.empty td {
  padding: 1em;
  text-align: center;
}
/* line 24, ../../app/stylesheets/bhm/admin/_listing.sass */
#content table tbody tr.odd {
  background: #F9F9F9;
}
/* line 26, ../../app/stylesheets/bhm/admin/_listing.sass */
#content table tbody tr.even {
  background: #F0F0F0;
}
/* line 28, ../../app/stylesheets/bhm/admin/_listing.sass */
#content table tbody td {
  border-bottom: 0.1em solid #999;
  padding: 0.4em;
}
/* line 31, ../../app/stylesheets/bhm/admin/_listing.sass */
#content table tbody td.actions {
  text-align: right;
}
/* line 33, ../../app/stylesheets/bhm/admin/_listing.sass */
#content table tbody td.actions ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: inline;
}
/* line 8, ../../.bundle-cache/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/lists/_inline_list.sass */
#content table tbody td.actions ul li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
/* line 35, ../../app/stylesheets/bhm/admin/_listing.sass */
#content table tbody td.actions ul li {
  margin: 0 0.5em;
}
/* line 37, ../../app/stylesheets/bhm/admin/_listing.sass */
#content table tbody td.actions ul a {
  text-decoration: none;
  color: #2e5499;
  font-weight: bold;
}
/* line 4, ../../.bundle-cache/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/links/_hover_link.sass */
#content table tbody td.actions ul a:hover {
  text-decoration: underline;
}
/* line 18, ../../.bundle-cache/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
#content table tbody td.actions ul a:hover {
  color: #993a3f;
}
/* line 41, ../../app/stylesheets/bhm/admin/_listing.sass */
#content table tbody span.default-value {
  color: #666;
}
/* line 44, ../../app/stylesheets/bhm/admin/_listing.sass */
#content dl {
  font-size: 1.2em;
  width: 100%;
  overflow: hidden;
  display: inline-block;
  border-bottom: 0.1em solid #999;
}
/* line 5, ../../.bundle-cache/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
#content dl {
  display: block;
}
/* line 49, ../../app/stylesheets/bhm/admin/_listing.sass */
#content dl dt {
  font-weight: bold;
  margin: 0;
  padding: 5px 10px;
  clear: left;
  width: 24%;
  float: left;
  border-top: 0.1em solid #999;
  width: 150px;
  text-align: right;
}
/* line 59, ../../app/stylesheets/bhm/admin/_listing.sass */
#content dl dd {
  border-top: 0.1em solid #999;
  width: 550px;
  margin: 0;
  padding: 5px 10px;
  float: left;
}
/* line 66, ../../app/stylesheets/bhm/admin/_listing.sass */
#content dl dd ol, #content dl dd ul {
  margin: 0;
}
/* line 68, ../../app/stylesheets/bhm/admin/_listing.sass */
#content dl dd ol li, #content dl dd ul li {
  list-style-position: inside;
  margin: 0;
  padding: 0;
}
/* line 72, ../../app/stylesheets/bhm/admin/_listing.sass */
#content dl dd ol li.empty, #content dl dd ul li.empty {
  list-style: none;
  margin: 0;
  color: #666;
}
/* line 76, ../../app/stylesheets/bhm/admin/_listing.sass */
#content dl dd ol li {
  list-style-type: upper-alpha;
}

/* line 1, ../../app/stylesheets/bhm/admin/_footer.sass */
footer {
  text-align: center;
  color: #888;
  font-size: 0.9em;
  padding: 2.5em 0 0.5em;
}

/* line 3, ../../app/stylesheets/bhm/admin/_forms.sass */
form.formtastic a {
  text-decoration: none;
  color: #3a5799;
}
/* line 4, ../../.bundle-cache/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/links/_hover_link.sass */
form.formtastic a:hover {
  text-decoration: underline;
}
/* line 18, ../../.bundle-cache/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
form.formtastic a:hover {
  color: #992227;
}
/* line 7, ../../app/stylesheets/bhm/admin/_forms.sass */
form.formtastic > fieldset.inputs {
  margin: 0 0 1em;
  padding: 1em 0 0;
}
/* line 10, ../../app/stylesheets/bhm/admin/_forms.sass */
form.formtastic > fieldset.inputs > legend {
  font-size: 1.2em;
  font-weight: bold;
}
/* line 14, ../../app/stylesheets/bhm/admin/_forms.sass */
form.formtastic > fieldset.inputs label {
  font-weight: bold;
  color: #444;
}
/* line 18, ../../app/stylesheets/bhm/admin/_forms.sass */
form.formtastic > fieldset.inputs label abbr.required {
  color: #992025;
}
/* line 21, ../../app/stylesheets/bhm/admin/_forms.sass */
form.formtastic > fieldset.inputs ol li ol li label {
  font-weight: normal;
  color: #111;
}
/* line 27, ../../app/stylesheets/bhm/admin/_forms.sass */
form.formtastic fieldset.buttons ol li button {
  font-family: "Lucida Grande", Lucida, Arial, sans_serif;
  background: url('../images/button_bg.png?1263650041') repeat-x bottom left;
  margin: 0;
  width: auto;
  overflow: visible;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border-style: solid;
  font-weight: bold;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  font-size: 16px;
  line-height: 19.2px;
  padding: 4px 16px;
  border-width: 1px;
  background-color: #008716;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #56d96c), color-stop(10%, #27ac3d), color-stop(50%, #166222), color-stop(50%, #13551e), color-stop(100%, #1c7f2d));
  background-image: -moz-linear-gradient(top, #56d96c 0%, #27ac3d 10%, #166222 50%, #13551e 50%, #1c7f2d 100%);
  border-color: #0b3011;
  text-shadow: #000801 0px 1px 1px;
  color: white;
}
/* line 162, ../../.bundle-cache/gems/fancy-buttons-0.4.1/lib/sass/_fancy_buttons.sass */
form.formtastic fieldset.buttons ol li button::-moz-focus-inner {
  border: none;
  padding: 0;
}
/* line 165, ../../.bundle-cache/gems/fancy-buttons-0.4.1/lib/sass/_fancy_buttons.sass */
form.formtastic fieldset.buttons ol li button:focus {
  outline: none;
}
/* line 167, ../../.bundle-cache/gems/fancy-buttons-0.4.1/lib/sass/_fancy_buttons.sass */
form.formtastic fieldset.buttons ol li button.disabled, form.formtastic fieldset.buttons ol li button[disabled] {
  opacity: 0.7;
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
}
/* line 172, ../../.bundle-cache/gems/fancy-buttons-0.4.1/lib/sass/_fancy_buttons.sass */
form.formtastic fieldset.buttons ol li button.disabled:hover, form.formtastic fieldset.buttons ol li button.disabled:focus, form.formtastic fieldset.buttons ol li button[disabled]:hover, form.formtastic fieldset.buttons ol li button[disabled]:focus {
  cursor: default;
}
/* line 143, ../../.bundle-cache/gems/fancy-buttons-0.4.1/lib/sass/_fancy_buttons.sass */
form.formtastic fieldset.buttons ol li button:active {
  padding: 3px 15px;
  border-width: 2px;
}
/* line 146, ../../.bundle-cache/gems/fancy-buttons-0.4.1/lib/sass/_fancy_buttons.sass */
form.formtastic fieldset.buttons ol li button.disabled:active, form.formtastic fieldset.buttons ol li button[disabled] {
  padding: 4px 16px;
  border-width: 1px;
}
/* line 24, ../../.bundle-cache/gems/fancy-buttons-0.4.1/lib/sass/_fancy_buttons.sass */
form.formtastic fieldset.buttons ol li button.disabled:active, form.formtastic fieldset.buttons ol li button.disabled:hover, form.formtastic fieldset.buttons ol li button[disabled]:active, form.formtastic fieldset.buttons ol li button[disabled]:hover {
  background-color: #008716;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #56d96c), color-stop(10%, #27ac3d), color-stop(50%, #166222), color-stop(50%, #13551e), color-stop(100%, #1c7f2d));
  background-image: -moz-linear-gradient(top, #56d96c 0%, #27ac3d 10%, #166222 50%, #13551e 50%, #1c7f2d 100%);
  border-color: #0b3011;
  text-shadow: #000801 0px 1px 1px;
  color: white;
}
/* line 26, ../../.bundle-cache/gems/fancy-buttons-0.4.1/lib/sass/_fancy_buttons.sass */
form.formtastic fieldset.buttons ol li button:hover, form.formtastic fieldset.buttons ol li button:focus {
  background-color: #007815;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #4ad661), color-stop(10%, #24a039), color-stop(50%, #13561e), color-stop(50%, #10491a), color-stop(100%, #197329));
  background-image: -moz-linear-gradient(top, #4ad661 0%, #24a039 10%, #13561e 50%, #10491a 50%, #197329 100%);
  border-color: #08240d;
  text-shadow: black 0px 1px 1px;
  color: white;
}
/* line 31, ../../.bundle-cache/gems/fancy-buttons-0.4.1/lib/sass/_fancy_buttons.sass */
form.formtastic fieldset.buttons ol li button:active {
  background-color: #006811;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #12551e), color-stop(30%, #145e21), color-stop(50%, #114d1b), color-stop(50%, #0e4016), color-stop(100%, #1a772a));
  background-image: -moz-linear-gradient(top, #12551e 0%, #145e21 30%, #114d1b 50%, #0e4016 50%, #1a772a 100%);
  border-color: #051608;
  text-shadow: black 0px -1px -1px;
  color: white;
}
/* line 30, ../../app/stylesheets/bhm/admin/_forms.sass */
form.formtastic span.cke_skin_kama {
  margin-left: 28%;
}
/* line 33, ../../app/stylesheets/bhm/admin/_forms.sass */
form.formtastic p.actions {
  background: #EEE;
  border: 0.1em solid #CCC;
  padding: 0.5em;
  margin: -1em 0 1em;
}

/* line 1, ../../app/stylesheets/bhm/admin/_dashboard.sass */
#user-signups {
  width: 100%;
  margin: 0 auto 1em;
}

/* line 1, ../../app/stylesheets/bhm/admin/_maps.sass */
.map-preview {
  width: 540px;
  height: 400px;
  margin: 5px auto;
  border: 5px solid #DDD;
  background: #F1F1F1 url('/images/map-placeholder.jpg') center center no-repeat;
}

/* line 1, ../../app/stylesheets/bhm/admin/_content.sass */
.content-preview {
  padding: 1em;
  border: 0.2em solid #CCC;
  background: #EEE;
  font-size: 0.75em;
}
/* line 7, ../../app/stylesheets/bhm/admin/_content.sass */
.content-preview p {
  margin: 0.5em 0;
}

/* line 10, ../../app/stylesheets/bhm/admin/_content.sass */
#reorder-questions {
  display: none;
  text-align: center;
}
/* line 13, ../../app/stylesheets/bhm/admin/_content.sass */
#reorder-questions ul {
  margin: 0;
}
/* line 15, ../../app/stylesheets/bhm/admin/_content.sass */
#reorder-questions ul li {
  list-style: none;
  margin: 0.5em 0;
  padding: 0.5em;
  font-size: 0.8em;
  color: #222;
  font-weight: bold;
}
