/* incase an inverted custom gradient isn't specified */

/* line 6, ../../.bundle-cache/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../.bundle-cache/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
*:focus {
  outline: 0;
}

/* line 20, ../../.bundle-cache/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
body {
  line-height: 1;
  color: #000;
  background: #fff;
}

/* line 23, ../../.bundle-cache/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
ol, ul {
  list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
/* line 27, ../../.bundle-cache/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 30, ../../.bundle-cache/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 33, ../../.bundle-cache/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
q, blockquote {
  quotes: "" "";
}
/* line 101, ../../.bundle-cache/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 36, ../../.bundle-cache/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
a img {
  border: none;
}

/* line 4, ../../.bundle-cache/gems/compass-960-plugin-0.9.11/sass/960/_text.sass */
body {
  font: 13px/1.5 Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
}

/* line 7, ../../.bundle-cache/gems/compass-960-plugin-0.9.11/sass/960/_text.sass */
a:focus {
  outline: 1px dotted invert;
}

/* line 10, ../../.bundle-cache/gems/compass-960-plugin-0.9.11/sass/960/_text.sass */
hr {
  border-color: #ccc;
  border-style: solid;
  border-width: 1px 0 0;
  clear: both;
  height: 0;
}

/* line 17, ../../.bundle-cache/gems/compass-960-plugin-0.9.11/sass/960/_text.sass */
h1 {
  font-size: 25px;
}

/* line 20, ../../.bundle-cache/gems/compass-960-plugin-0.9.11/sass/960/_text.sass */
h2 {
  font-size: 23px;
}

/* line 23, ../../.bundle-cache/gems/compass-960-plugin-0.9.11/sass/960/_text.sass */
h3 {
  font-size: 21px;
}

/* line 26, ../../.bundle-cache/gems/compass-960-plugin-0.9.11/sass/960/_text.sass */
h4 {
  font-size: 19px;
}

/* line 29, ../../.bundle-cache/gems/compass-960-plugin-0.9.11/sass/960/_text.sass */
h5 {
  font-size: 17px;
}

/* line 32, ../../.bundle-cache/gems/compass-960-plugin-0.9.11/sass/960/_text.sass */
h6 {
  font-size: 15px;
}

/* line 35, ../../.bundle-cache/gems/compass-960-plugin-0.9.11/sass/960/_text.sass */
ol {
  list-style: decimal;
}

/* line 38, ../../.bundle-cache/gems/compass-960-plugin-0.9.11/sass/960/_text.sass */
ul {
  list-style: square;
}

/* line 41, ../../.bundle-cache/gems/compass-960-plugin-0.9.11/sass/960/_text.sass */
li {
  margin-left: 30px;
}

/* line 44, ../../.bundle-cache/gems/compass-960-plugin-0.9.11/sass/960/_text.sass */
p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset {
  margin-bottom: 20px;
}

@font-face {
  font-family: 'Sniglet Regular';
  src: url('/fonts/Sniglet.eot');
  src: local('Sniglet Regular'), local('Sniglet'), url(/fonts/Sniglet.ttf) format('truetype');
}

@font-face {
  font-family: 'Museo Sans';
  src: url('/fonts/MuseoSans.eot');
  src: local('Museo Sans'), local('MuseoSans-500'), url(/fonts/MuseoSans.woff) format('woff'), url(/fonts/MuseoSans.ttf) format('truetype');
}

@font-face {
  font-family: 'Bauhaus Std Light';
  src: url('/fonts/BauhausStd-Demi.eot');
  src: local('Bauhaus Std Light'), url(/fonts/BauhausStd-Demi.woff) format('woff'), url(/fonts/BauhausStd-Demi.ttf) format('truetype');
}

/* line 6, ../../app/stylesheets/bhm/_flash.sass */
#flash-messages {
  margin: 0;
}
/* line 8, ../../app/stylesheets/bhm/_flash.sass */
#flash-messages p.flash {
  margin: 0 0 1em;
  padding: 0.5em;
  font-weight: bold;
  text-align: center;
  border: 0.2em solid;
  border-color: #5e5e5e;
  background-color: #c3c3c3;
  color: #444444;
}
/* line 15, ../../app/stylesheets/bhm/_flash.sass */
#flash-messages p.flash.alert {
  border-color: #c22e35;
  background-color: #f2cacc;
  color: #99242a;
}
/* line 17, ../../app/stylesheets/bhm/_flash.sass */
#flash-messages p.flash.notice {
  border-color: #298733;
  background-color: #9be1a2;
  color: #1d6024;
}

/* line 1, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic {
  margin: 0;
  padding: 0;
}
/* line 5, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic ul, form.formtastic ol, form.formtastic li, form.formtastic fieldset, form.formtastic legend, form.formtastic input, form.formtastic textarea, form.formtastic select, form.formtastic p {
  margin: 0;
  padding: 0;
}
/* line 9, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic fieldset {
  border: 0;
}
/* line 12, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic em, form.formtastic strong {
  font-style: normal;
  font-weight: normal;
}
/* line 16, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic ol, form.formtastic ul {
  list-style: none;
}
/* line 19, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic abbr, form.formtastic acronym {
  border: 0;
  font-variant: normal;
}
/* line 23, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic input, form.formtastic textarea, form.formtastic select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
/* line 28, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic input, form.formtastic textarea, form.formtastic select {
  font-size: 100%;
}
/* line 31, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic legend {
  color: #000;
}
/* line 34, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic legend.label label {
  width: 100%;
}
/* line 37, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic fieldset {
  display: inline-block;
}
/* line 41, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic fieldset.buttons {
  padding-left: 25%;
}
/* line 45, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic fieldset.buttons li {
  float: left;
  padding-right: 0.5em;
}
/* line 49, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic fieldset:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 57, ../../app/stylesheets/bhm/_formtastic_base.sass */
html form.formtastic fieldset {
  display: block;
}

/* line 61, ../../app/stylesheets/bhm/_formtastic_base.sass */
* html form.formtastic fieldset {
  height: 1%;
}

/* line 65, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic fieldset ol li {
  margin-bottom: 1.5em;
}
/* line 68, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic fieldset ol li:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 76, ../../app/stylesheets/bhm/_formtastic_base.sass */
html[xmlns] form.formtastic fieldset ol li {
  display: block;
}

/* line 80, ../../app/stylesheets/bhm/_formtastic_base.sass */
* html form.formtastic fieldset ol li {
  height: 1%;
}

/* line 86, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic fieldset ol li label {
  display: block;
  width: 25%;
  float: left;
  padding-top: .2em;
}
/* line 92, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic fieldset ol li li label {
  line-height: 100%;
  padding-top: 0;
}
/* line 96, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic fieldset ol li li label input {
  line-height: 100%;
  vertical-align: middle;
  margin-top: -0.1em;
}
/* line 101, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic fieldset ol li fieldset {
  position: relative;
}
/* line 104, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic fieldset ol li fieldset legend {
  position: absolute;
  width: 25%;
  padding-top: 0.1em;
}
/* line 109, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic fieldset ol li fieldset legend span, form.formtastic fieldset ol li fieldset legend.label label {
  position: absolute;
}
/* line 112, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic fieldset ol li fieldset ol {
  float: left;
  width: 74%;
  margin: 0;
  padding: 0 0 0 25%;
}
/* line 118, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic fieldset ol li fieldset ol li {
  padding: 0;
  border: 0;
}
/* line 123, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic fieldset ol li p.inline-hints {
  color: #666;
  margin: 0.5em 0 0 25%;
}
/* line 127, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic fieldset ol li p.inline-errors {
  color: #cc0000;
  margin: 0.5em 0 0 25%;
}
/* line 131, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic fieldset ol li ul.errors {
  color: #cc0000;
  margin: 0.5em 0 0 25%;
  list-style: square;
}
/* line 136, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic fieldset ol li ul.errors li {
  padding: 0;
  border: none;
  display: list-item;
}
/* line 141, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic fieldset ol li.string input, form.formtastic fieldset ol li.password input, form.formtastic fieldset ol li.numeric input, form.formtastic fieldset ol li.text textarea {
  width: 74%;
}
/* line 144, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic fieldset ol li.hidden {
  display: none;
}
/* line 147, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic fieldset ol li.boolean label {
  padding-left: 25%;
  width: auto;
}
/* line 151, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic fieldset ol li.boolean label input {
  margin: 0 0.5em 0 0.2em;
}
/* line 154, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic fieldset ol li.radio fieldset ol, form.formtastic fieldset ol li.check_boxes fieldset ol {
  margin-bottom: -0.6em;
}
/* line 157, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic fieldset ol li.radio fieldset ol li, form.formtastic fieldset ol li.check_boxes fieldset ol li {
  margin: 0.1em 0 0.5em 0;
}
/* line 160, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic fieldset ol li.radio fieldset ol li label, form.formtastic fieldset ol li.check_boxes fieldset ol li label {
  float: none;
  width: 100%;
}
/* line 164, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic fieldset ol li.radio fieldset ol li label input, form.formtastic fieldset ol li.check_boxes fieldset ol li label input {
  margin-right: 0.2em;
}
/* line 167, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic fieldset ol li.date fieldset ol li, form.formtastic fieldset ol li.time fieldset ol li, form.formtastic fieldset ol li.datetime fieldset ol li {
  float: left;
  width: auto;
  margin: 0 .3em 0 0;
}
/* line 172, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic fieldset ol li.date fieldset ol li label, form.formtastic fieldset ol li.time fieldset ol li label, form.formtastic fieldset ol li.datetime fieldset ol li label {
  display: none;
}
/* line 175, ../../app/stylesheets/bhm/_formtastic_base.sass */
form.formtastic fieldset ol li.date fieldset ol li label input, form.formtastic fieldset ol li.time fieldset ol li label input, form.formtastic fieldset ol li.datetime fieldset ol li label input {
  display: inline;
  margin: 0;
  padding: 0;
}

/* line 2, ../../app/stylesheets/bhm/public/_grid.sass */
#container {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
/* line 5, ../../app/stylesheets/bhm/public/_grid.sass */
#container footer, #container #content, #container #flash-messages {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

/* line 8, ../../app/stylesheets/bhm/public/_grid.sass */
#content, footer, #flash-messages {
  width: 940px;
}

/* line 1, ../../app/stylesheets/bhm/public/_header.sass */
header {
  display: block;
  height: 445px;
  width: 960px;
  background: url('/images/bhm/header-bg.png') top center no-repeat;
  position: relative;
  z-index: 5;
}
/* line 8, ../../app/stylesheets/bhm/public/_header.sass */
header h1 {
  z-index: 5;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 265px;
  top: 50px;
  display: block;
}
/* line 16, ../../app/stylesheets/bhm/public/_header.sass */
header h1 a {
  width: 615px;
  height: 255px;
  background: url(/images/bhm/logo.png);
  text-indent: -9999em;
  display: block;
}
/* line 23, ../../app/stylesheets/bhm/public/_header.sass */
header #header-menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 600px;
  height: 75px;
  background: url(/images/bhm/header-menu-bg.png) top left no-repeat;
}
/* line 31, ../../app/stylesheets/bhm/public/_header.sass */
header #header-menu ul {
  margin: 1.7em 0 0 1em;
  padding: 0;
}
/* line 34, ../../app/stylesheets/bhm/public/_header.sass */
header #header-menu ul li {
  display: inline;
  margin: 0 0.75em;
  padding: 0;
  font-size: 1.4em;
  font-weight: bold;
  text-transform: lowercase;
}
/* line 41, ../../app/stylesheets/bhm/public/_header.sass */
header #header-menu ul li a {
  text-decoration: none;
  color: #49433c;
  font-family: "Bauhaus Std Light", "Helvetica Neue", "Verdana", "Helvetica", "Arial";
}
/* line 18, ../../.bundle-cache/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
header #header-menu ul li a:hover {
  color: #994e2c;
}
/* line 46, ../../app/stylesheets/bhm/public/_header.sass */
header #youthtree-project-logo {
  display: block;
  position: absolute;
  bottom: 50px;
  right: 20px;
  z-index: 10;
}
/* line 52, ../../app/stylesheets/bhm/public/_header.sass */
header #youthtree-project-logo a {
  display: block;
  text-indent: -9999em;
  width: 110px;
  height: 140px;
  background: url(/images/bhm/youthtree-project-logo.png) top left no-repeat;
}
/* line 58, ../../app/stylesheets/bhm/public/_header.sass */
header #youthtree-project-logo a:hover, header #youthtree-project-logo a:active {
  background-position: -110px 0;
}

/* line 1, ../../app/stylesheets/bhm/public/_content.sass */
body {
  background: #cdccbc;
}

/* line 3, ../../app/stylesheets/bhm/public/_content.sass */
#container {
  overflow: hidden;
  display: inline-block;
  margin: 2.5em auto;
  background: white url('/images/bhm/content-bg.jpg') top center repeat-x;
  /* Webkit (Safari, Chrome) */
  -webkit-box-shadow: #333333 0 0 10px;
  /* Gecko (Firefox, Camino) */
  -moz-box-shadow: #333333 0 0 10px;
  /* CSS3 */
  box-shadow: #333333 0 0 10px;
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#333', Direction=0, Strength=10);
}
/* line 5, ../../.bundle-cache/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
#container {
  display: block;
}

/* line 10, ../../app/stylesheets/bhm/public/_content.sass */
#content {
  overflow: hidden;
  display: inline-block;
  margin-top: -65px;
}
/* line 5, ../../.bundle-cache/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
#content {
  display: block;
}
/* line 13, ../../app/stylesheets/bhm/public/_content.sass */
#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
  font-family: "Bauhaus Std Light", "Helvetica Neue", "Verdana", "Helvetica", "Arial";
  margin: 0 0 0.5em;
  text-align: center;
  color: #333;
}
/* line 18, ../../app/stylesheets/bhm/public/_content.sass */
#content h1 {
  font-size: 3em;
  color: black;
  margin-bottom: 0.5em;
  text-align: left;
  padding-left: 230px;
}
