%p#sponsors
  %span Sponsored by:
  = sponsor_link "Volunteering WA", "http://www.volunteeringwa.org.au/"
  = sponsor_link "Veolia Transport", "http://www.veoliatransport.com.au/"
%p== This site brought to you by #{link_to "Youth Tree", "http://www.youthtree.org.au/"}, &copy; #{copyright 2010}. All Rights Reserved.
  