= content_section 'home.introduction', :class => 'column'
#join-mission-intro= link_to 'Join our latest mission', mission_path(:next)
#intro-video= youtube_video 'qhMRqJnndQ8', :width => 460, :height => 345
