%h2 What is the Big Help Mob?

%p
  Oh nom, nom, nom...this is filler text in it's best form, the humorous form. Hey, did you know that the quick brown fox didn't actually jump over the lazy dog?
  
%p
  Here's another fact for you - the old wives tale about eating carrots so you can see in the dark comes from the war! The English were one of the first groups to use RADAR technology - the Germans were getting suspicious about how they were managing to shoot down so many of their planes - in response, the English propaganda machine put out this rumour about feeding the gunners carrots so they could see the planes in the night sky.