---
default:
  rpx:
    api_key: your-rpx-now-api-key
    realm: your-rpx-now-realm
  hominid:
    list_mapping:
      list_id: "shown_list_name"
  session:
    key: "_bighelpmob_session"
    secret: "some-long-and-random-string"
production:
  exception_notifier:
    recipients:
      - youremail@example.com
  hominid:
    api_key: your-mailchimp-api-key
  mailer:
    from: "noreply@bighelpmob.org"
    host: "bighelpmob.org"
    delivery_method: smtp
    smtp_settings:
      address: smtp.gmail.com
      port: 587
      authentication: plain
      enable_starttls_auto: true
      domain: bighelpmob.org
      user_name: user@bighelpmob.org
      password: yourpassword
development:
  mailer:
    from: "bhm-test@bhm.dev"
    host: "localhost:3000"
    delivery_method: sendmail
test:
  mailer:
    from: "example@example.com"
    host: "example.com"
    delivery_method: test
