---
default:
  cookie_verifier_secret: "30-plus-chars-of-random-stuff-awesome-ninja-skills-and-other-stuff"
  rpx:
    api_key: your-rpx-now-api-key
    realm: your-rpx-now-realm
  hominid:
    list_mapping:
      list_id: "shown_list_name"
  session:
    key: "_bighelpmob_session"
    secret: "some-long-and-random-string"
production:
  google_analytics:
    identifier: "UA-XXXXXXXX-X"
  exception_notifier:
    recipients:
      - youremail@example.com
  hominid:
    api_key: your-mailchimp-api-key
  mailer:
    contact_email: "team@bighelpmob.org"
    from: "noreply@bighelpmob.org"
    host: "bighelpmob.org"
    delivery_method: smtp
    smtp_settings:
      address: smtp.gmail.com
      port: 587
      authentication: plain
      enable_starttls_auto: true
      domain: bighelpmob.org
      user_name: user@bighelpmob.org
      password: yourpassword
development:
  mailer:
    contact_email: "bhm-test@bhm.dev"
    from: "bhm-test@bhm.dev"
    host: "localhost:3000"
    delivery_method: sendmail
test:
  mailer:
    contact_email: "example@example.com"
    from: "example@example.com"
    host: "example.com"
    delivery_method: test
