---
default:
  secret_key: "30-plus-chars-of-random-stuff-awesome-ninja-skills-and-other-stuff"
  session_key: "_bighelpmob_session"
  rpx:
    api_key: your-api-key
    realm: your-rpx-subdomain
  google:
    geocoder: 'your-google-geocoder-key'
production:
  google_analytics:
    identifier: "UA-XXXXXXXX-X"
  campaign_monitor:
    default_list: "list_id_from_below"
    lists:
      some_id_here: "Youth Tree General"
      another_id_here: "TEDxPerth"
      a_third_id_here: "Big Help Mob"
  mailer:
    contact_email: "team@bighelpmob.org"
    from: "noreply@bighelpmob.org"
    host: "bighelpmob.org"
    delivery_method: smtp
    smtp_settings:
      address: smtp.gmail.com
      port: 587
      authentication: plain
      enable_starttls_auto: true
      domain: bighelpmob.org
      user_name: user@bighelpmob.org
      password: yourpassword
development:
  mailer:
    contact_email: "your-email@your-email.com"
    from: "bhm-test@bhm.dev"
    host: "localhost:3000"
    delivery_method: sendmail
test:
  mailer:
    contact_email: "example@example.com"
    from: "example@example.com"
    host: "example.com"
    delivery_method: test
