body, html
  background: $bhm-colour-page-background

#container
  +clearfix
  margin: 3em auto
  background: #FFF url(/images/bhm/header-bg.jpg) top center no-repeat
  border: 0.2em solid $bhm-colour-container-border
  +bhm-default-shadow

#content
  padding-top: 3em
  padding-bottom: 1.5em
  h1, h2, h3, h4, h5, h6
    +bauhaus-font-stack
    margin: 0 0 0.5em
    text-align: center
    font-weight: bold
    color: $bhm-colour-header-text
  p
    margin: 0 1em 1em
    font-size: 1.2em
    line-height: 1.8em
  p.actions
    font-size: 1em
  strong
    font-weight: bold
  a
    +bhm-link-base
  em
    font-style: italic
  abbr
    border-bottom: 0.1em dashed
    cursor: help
  .embedded-content.signup-introduction
    margin: 0 15% 1em
    p
      margin-left: 0
      margin-right: 0
  p#general-page-notice
    margin: 0 15% 1.5em
    text-align: center
    color: darken($bhm-colour-profile-notice, 70)

dl.frequently-asked-questions
  margin: 0 1em 1em
  font-size: 1.2em
  dt
    font-weight: bold
    color: $bhm-colour-faq-question
    margin: 1.5em 0 0
    padding: 0
  dt.first
    margin-top: 0
  dd
    color: $bhm-colour-faq-answer
    margin: 0.25em 0
    padding: 0
    p
      font-size: 1em !important
      padding: 0
      margin: 0

#intro-video
  text-align: center

#homepage-columns, #join-as-selector
  margin-bottom: 2em

#join-as-selector
  #sidekick-selector, #captain-selector
    text-align: center
    .embedded-content
      text-align: left
  dl.frequently-asked-questions
    dt, dd
      text-align: left
      font-size: 0.9em
    dd p
      margin-left: 0
  #captain-selector
    text-align: right
  #sidekick-selector
    text-align: left
  .join-as-button
    text-align: center
    &.before-faq
      margin: 2em 0 3em
    a
      +bhm-fixed-fb-structure
    a#join-as-captain-button
      +fancy-button-colors(#477499)
    a#join-as-sidekick-button
      +fancy-button-colors(#54996e)

#contact_form_nickname_input
  display: none

.homepage-mission-link
  text-align: center
  margin: 0
  a
    +bhm-fixed-fb-structure(16px)
    +fancy-button-colors(#54996e)
    color: white !important
  a.subscribe-to-mailing-list
    +fancy-button-colors(#3F6D99)
  span.or
    margin: 0 0.5em
    color: #777
    font-weight: bold

.mission-photos
  margin: 0 auto 0.5em

#homepage-photos
  margin: 1.5em auto 0.5em

#homepage-photos, .mission-photos
  text-align: center
  a img
    +opacity(0.65)
    margin: 0.2em
    +border-radius(1em)
  a:hover img, a img.current
    +opacity(1.0)

.tipsy
  padding: 5px
  font-size: 10px
  +opacity(0.8)
  background-repeat: no-repeat
  background-image: url(/images/tipsy.gif)

.tipsy-inner
  padding: 5px 8px 4px 8px
  background-color: black
  color: white
  max-width: 200px
  text-align: center
  +border-radius(3px)

.tipsy-north
  background-position: top center

.tipsy-south
  background-position: bottom center

.tipsy-east
  background-position: right center

.tipsy-west
  background-position: left center

#missions
  .mission
    .mission-description
      text-align: center
    .mission-name
      font-size: 2em
