!bhm_footer_nav_border ||= 0.1em "solid" !bhm_colour_footer_nav_border

footer
  :text-align center
  :margin 1em 0
  p
    :margin 0.25em 0
    :padding 0
    :font-size 1.1em
    :color= !bhm_colour_footer_text
    a
      +bhm-link-base
  #sponsors
    span
      :margin 0 0.5em 0 0
      :vertical-align top
      :line-height 45px
      :font-weight bold
      :color= !bhm_colour_footer_text
    .sponsor
      :margin 0.5em
  
  nav
    :text-align center
    :padding 0.5em 0
    :border-top= !bhm_footer_nav_border
    :border-bottom= !bhm_footer_nav_border
    :margin 1em 0
    :width 100%
    :display block
    ul
      +inline-list
      li a
        :margin 0 1em
        :font-weight bold
        +bhm-link-base