footer
  :text-align center
  :margin 1em 0
  p
    :margin 0.25em 0
    :padding 0
    :font-size 1.1em
    :color #444
    a
      +hover-link
      +link-colors(#4C6899, #99323A)
  #sponsors
    span
      :margin 0 0.5em 0 0
      :vertical-align top
      :line-height 45px
      :font-weight bold
      :color #333
    .sponsor
      :margin 0.5em
    