!form_padding_inner = 20px

#content
  form.formtastic
    :margin 0 15% 0
    
    p.actions
      :margin 0 0 4em
      :font-size 1em
      :padding 0.5em
      +border-radius(0.5em)
  
    > fieldset.inputs
      :margin 3em 0 4.5em
      :padding 0
      :background #F9F9F9
      :border 1px solid #CCC
      :position relative
    
      > legend span
        :font-size 1.4em
        :font-weight bold
        :position absolute
        :left 0
        :color #111
        :margin-top -1.5em
        +bauhaus-font-stack
      
      > ol
        :margin= !form_padding_inner !form_padding_inner 0

      label
        :font-weight bold
        :color #222
        :font-size 1em
        :padding-top 0

        abbr.required
          :color #992025
    
      p.inline-hints, p.inline-errors
        :margin 0.5em 0 0 25%
        :font-size 1em
        :padding 0
        :line-height 1.5em

      ol li ol li
        label
          :font-weight normal
          :font-size 0.9em
          :color #333
      
      ol li fieldset legend
        :padding 0
        :margin-top -0.3em

    > fieldset.buttons
      :margin -2em 0 2em
      :padding 0
      ol
        :text-align center
        li
          :margin 0
          :padding 0
          :float none
        button
          +fancy-button(#333, 16px, 0)
        a#auth-selector-link
          +fancy-button(#6D2126, 16px, 0)
        span.or
          :padding 0 0.5em
          :color #666
          

    span.cke_skin_kama
      :margin-left 25%