#pickup-address
  :padding 0.5em 0

#mission-maps
  :margin 0 0 3em
  #mission-pickups-map, #mission-location-map
    .dynamic-google-map, .static-google-map img
      :width 416px
      :height 342px
      :border 2px solid #CCC !important
    
  #mission-pickups-map
    :text-align center
    h4
      :margin 0.5em 0 0
      :padding 0
    ol
      :margin 0
      :padding 0
      :line-height 1.5em
      li
        :margin 0
        :padding 0
        :list-style-position inside
        :list-style-type upper-alpha
  #mission-location-map
    #mission-location-address
      :font-size 1.1em
      :margin 0.5em 0
      :text-align center
      :color #000

#content
  p.join-mission-container
    :padding 0
    :margin 0 0 2em
    :text-align center
    a.join-mission-link
      +bhm-fixed-fb-structure
      +fancy-button-colors(!bhm_colour_join_background)
      +link-colors(!bhm_colour_link_join_mission, !bhm_colour_link_join_mission, !bhm_colour_link_join_mission, !bhm_colour_link_join_mission)
      
  #mission-description p.join-mission-container
    :margin-top -1.5em
    :margin-bottom 3em
    
  #mission-notice
    :padding 1em
    :margin 3em 0
    +border-radius(0.25em)
    :background #E2FFE9
    :color #2F6B2D
    :border 0.2em solid #2F6B2D
    p
      :text-align center
    p.hide-notice
      :margin-bottom 0