- if @report.show?(:title)
  %h2
    Participations for
    = @mission.name

#participations= render :partial => 'pdfs/participation', :collection => @report.collection, :spacer_template => 'pdfs/joiner'