- form.inputs :name => "Captain Application" do

  - if user.errors.invalid?(:captain_application)
    %li
      %p.inline-errors.full-width Please ensure you fill out your Captain application.
      
  %li
    %p.inline-hints.full-width
      Not sure exactly what we're asking about / why we're asking this questions?
      == We suggest #{link_to 'rereading', [:join, @mission]} the role description.
  
  = form.input :reason_why, :input_html => {:rows => 5}
  
  = form.input :offers, :input_html => {:rows => 5}
  
  = form.input :has_first_aid_cert, :hint => "If you have one, bring it to \"...THE TEST\". If you don't, don't panic - It's not a requirement."