%h2 About this Mission

%p#mission-description= @mission.description_as_html

- if logged_in?
  %p.actions
    - if @mission.participating?(current_user)
      You've signed up to take part in this mission. If you want to
      == edit your participation details, #{link_to 'click here', [:edit, @mission]}.
    - else
      Want to take part in this mission? You can join it
      == #{link_to "as a captain or sidekick", [:join, @mission]}!
    