#error-contents

  = image_tag "error.jpg"

  %p
    It looks like something is accidentally broken. Don't worry, it most
    likely wasn't your fault.
    
  %p
    We've been notified of the problem by carrier pigeon and we'll take
    a look and fix it as soon as humanely possible.