#error-contents

  %p
    It looks like the evil kittens have won this battle and
    the page you're looking for is no more (aka a 404.)
    
  %p
    If you followed a link from elsewhere on the site, please
    contact to let us know.