BigHelpMob &copy; YouthTree 2010 onwards.
%br
= link_to 'View Queue Status', "http://#{current_user.login}:#{current_user.perishable_token}@#{request.host}/admin/resque"
(Do not share link with anyone)