#header-logo
  %h1 BHM Admin Area

#header-menu
  %ul
    = ml "Home", :admin_dashboard
    = render :partial => 'admin/shared/sections'
    = ml "View Site &raquo;".html_safe, :root, :id => 'view-site-link'